<div class="d-flex" *ngIf="mostrar==0">

    <!-- CARD -->
   
     
    <div class="division card">

        <!-- HEADER -->
        <div class="header-calendar">

        
            <!-- FECHA -->
            <h1 class="mes mr-auto p-2">{{dateSelect | date:'MMMM, yyyy' | uppercase}}</h1>
          
            <!-- BOTON ANTERIOR -->
            <div><button (click)="changeMonth(-1)" class="btn p-2">Anterior</button></div>

            <!-- BOTON SIGUIENTE -->
            <div><button (click)="changeMonth(1)" class="btn p-2">Siguiente</button></div>

        </div>

        <!-- CONTENIDO DÍAS -->
        <ol>
            <li *ngFor="let day of week" class="day-name">{{day | slice:0:3}}</li>

            <li (click)="clickDay(day); mostrar=1" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
                *ngFor="let day of monthSelect;let first = first">
                <span>{{day?.value}}</span>

        </ol>

    </div>

</div>


<div class="d-flex justify-content-center" *ngIf="mostrar==1">

    hola

</div>