<!-- ingreso , log in -->
<div *ngIf="modo==1">
<div class="login-page">
    <div class="form">
     
      <form class="login-form">
        <input [(ngModel)]="usuario.nombre" type="text" placeholder="username" [ngModelOptions]="{standalone: true}"/>
        <input [(ngModel)]="usuario.password" type="password" placeholder="password" [ngModelOptions]="{standalone: true}"/>
        <button (click)="ingresar_usuario()">login</button>
        <p class="message">Not registered? <a (click)="modo=2">Create an account</a></p>
      </form>
    </div>
  </div>
</div>
<!-- creacion de cuenta usuario normal -->
<div *ngIf="modo==2">
<div class="login-page">
    <div class="form">
      <form class="register-form">
        <input [(ngModel)]="usuario.nombre" type="text" placeholder="username" [ngModelOptions]="{standalone: true}"/>
        <input [(ngModel)]="usuario.password" type="password" placeholder="password" [ngModelOptions]="{standalone: true}"/>
     
        <button (click)="agregar_usuario()">create1</button>
        <p class="message">Already registered? <a (click)="modo=1">Sign In</a></p>
      </form>
    </div>
</div>
</div>
<!-- creacion de cuenta usuario admin-->
<div *ngIf="modo==2">
<div class="login-page">
    <div class="form">
      <form class="register-form">
        <input [(ngModel)]="usuario.nombre" type="text" placeholder="username" [ngModelOptions]="{standalone: true}"/>
        <input [(ngModel)]="usuario.password" type="password" placeholder="password" [ngModelOptions]="{standalone: true}"/>
        <select name="" id="">
            <option value=""></option>
        </select>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
    </div>
</div>
</div>
 


