<!-- NAV GRANDE -->
<div class="navlg">
    <nav class="navbar d-flex justify-content-between mb-3">

        <div class="p-2">
            <a class="logo">AgendaNet</a>
        </div>

        <div class="p-2">
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="./home" title="Home" routerLinkActive="router-link-active"><i
                            class="fas fa-home"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="./agenda" title="Agenda" routerLinkActive="router-link-active"><i
                            class="fas fa-calendar"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="./*" title="Settings" routerLinkActive="router-link-active"><i
                            class="fas fa-cog"></i></a>
                </li>
            </ul>
        </div>


        <div class="p-2 loginbtn">
            <ul class="nav" style="list-style-type: none;">
                <li class="nav-item">
                    <a class="nav-link" routerLink="./login" title="Usuario" routerLinkActive="router-link-active-lgn">
                        <img src="../../assets/icono.png" class="imgusr" alt="">

                    </a>
                </li>
            </ul>

        </div>
        
    </nav>
</div>

<!-- NAV CHICO -->
<div class="navsm">
    <nav class="navbar d-flex justify-content-center">

        <div class="p-2">
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="./home" title="Home" routerLinkActive="router-link-active"><i
                            class="fas fa-home"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="./agenda" title="Agenda" routerLinkActive="router-link-active"><i
                            class="fas fa-calendar"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="./*" title="Settings" routerLinkActive="router-link-active"><i
                            class="fas fa-cog"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</div>