.navbar {
    background-color: rgb(0, 69, 158);
    box-shadow: rgba(0, 0, 0, 0.35) 0px -30px 36px -28px inset;
    /* justify-content: around; */
}

a {
    font-size: 18px;
    margin-right: 15px;
}

.imgusr {
    width: 30px;
    border-radius: 25px;
    margin: 0;
    padding: 0;
}

i {
    font-size: 25px;
    /* color: rgba(0, 0, 0, 0.644); */
}

i:hover {
    color: #fff;
}

.router-link-active {
    border-bottom: 3px solid white;
    border-radius: 5px;
}

.router-link-active-lgn {
    border-bottom: 3px solid white;
    border-radius: 5px;
}

.nav-link {
    color: rgb(187, 187, 187);
}

.dropdown-toggle {
    color: #fff;
}

/* Cellphone devices */
@media (min-width: 10px) {
    .logo, .loginbtn {
        display: none;
    }

    .center {
        justify-content: center;
        align-self: center;
    }

    .navlg{
        display: none;
    }
    
    .navsm{
        display: block;
    }

}

/* Large devices (large desktops) */
@media (min-width: 1200px) {
    .logo {
        display: block;
        margin-left: 1vw;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .loginbtn {
        display: block;
        justify-content: end !important;
    }

    .navlg{
        display: block;
    }
    
    .navsm{
        display: none;
    }
}
