<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#">AgendaNet</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="justify-content-center collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" routerLink="./home" [routerLinkActive]="['active']"><i class="fas fa-home" aria-hidden="true"></i></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="./agenda" [routerLinkActive]="['active']"><i class="fas fa-calendar"></i></a>
            </li>


            <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->

        </ul>

       

    </div>

    <div class="align-items-end loginbtn" id="navbarSupportedContent">

        <ul class="navbar-nav">
            <li>
                <a class="nav-link" routerLink="./login" [routerLinkActive]="['active']">LogIN</a>
            </li>
        </ul>
        
    </div>
</nav>